body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
 
}

h1 {
  font-style: italic;
  color: #373fff;
}

video {
  width: 640px;
  height: 280px;
}

button {
  margin: 1em;
  padding: 1em;
}
